<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  
  </configSections>
  <appSettings>

    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="ServiceBaseUrl" value="http://localhost:61005" />
    <add key="F5ServiceBaseUrl" value="http://localhost:61005" />
    <add key="SupportedBrowsers" value="[{&quot;Ua&quot;:&quot;InternetExplorer&quot;, &quot;Ver&quot;:11},{&quot;Ua&quot;:&quot;Chrome&quot;, &quot;Ver&quot;:57}]" />
   
    <add key="SystemBusinessId" value="Angular Kendo Demo System" />
    <add key="SiteId" value="Angular Kendo Demo" />
    <!--User logic process-->
    <add key="LoggedInUserId" value="Sudip Purkayastha"/>
    <add key="LoggedInUserRole" value="Admin" />
    <add key="LoadRoleFromConfig" value="true" />

    <add key="GridPageSize" value="20" />
    <add key="Default.Controller" value="Home" />
    <add key="Default.Action" value="Landing" />

    <!--User preference-->
    <add key="StoreLoadUserGridPref" value="false" />
    <add key="FileStoragePath" value="C:\Deploy" />
  
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <!--<authorization>
      <deny users="?" />
    </authorization>-->

    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="50000" executionTimeout="300" />
  <httpModules>
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <security>
      <requestFiltering>
        <!-- The content length is in bytes  -->
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  </configuration>